{% extends "layouts/main.html" %}

{% set pageName = "Applications" %}
{% set primaryNavId = 'applications' %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      {% include "_includes/search-form.njk" %}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% if applications.length %}
        <div class="app-list">
          {% for application in applications %}
            <div class="app-list__item">
              <h2 class="govuk-heading-m">
                <a href="/applications/{{application.id}}">
                  {{application.personalDetails.firstName}}
                  {{application.personalDetails.lastName}}
                </a>
              </h2>

              {{ govukTag({
                text: application.status,
                classes: application.status | statusColour
              }) }}

              {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: [
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      text: application.personalDetails.emailAddress
                    }
                  },
                  {
                    key: {
                      text: "Sent date"
                    },
                    value: {
                      text: application.sentDate | govukDate + ' at ' + application.sentDate | govukTime
                    }
                  }
                ]
              }) }}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% include "_includes/pagination.njk" %}


    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })
  </script>
{% endblock %}
