{% set filterOptionsHtml %}

  {{ appCheckboxFilter({
    idPrefix: "subjects",
    name: "filters[subjects]",
    classes: "govuk-checkboxes--small subjects-filter",
    legend: {
      text: "Subject",
      classes: "govuk-fieldset__legend--s"
    },
    values: data.filters.subjects,
    selectedItems: selectedSubjectItems,
    items: [
      {
        value: "Accounting",
        text: "Accounting"
      },
      {
        value: "Art and design",
        text: "Art and design"
      },
      {
        value: "Biology",
        text: "Biology"
      },
      {
        value: "Business studies",
        text: "Business studies"
      },
      {
        value: "Chemistry",
        text: "Chemistry"
      },
      {
        value: "Citizenship",
        text: "Citizenship"
      },
      {
        value: "Classics",
        text: "Classics"
      },
      {
        value: "Computing",
        text: "Computing"
      },
      {
        value: "Dance",
        text: "Dance"
      },
      {
        value: "Design and technology",
        text: "Design and technology"
      },
      {
        value: "Drama",
        text: "Drama"
      },
      {
        value: "Economics",
        text: "Economics"
      },
      {
        value: "Engineering",
        text: "Engineering"
      },
      {
        value: "English",
        text: "English"
      },
      {
        value: "Food Technology",
        text: "Food Technology"
      },
      {
        value: "French",
        text: "French"
      },
      {
        value: "Geography",
        text: "Geography"
      },
      {
        value: "German",
        text: "German"
      },
      {
        value: "Health and social care",
        text: "Health and social care"
      },
      {
        value: "History",
        text: "History"
      },
      {
        value: "Humanities",
        text: "Humanities"
      },
      {
        value: "ICT",
        text: "ICT"
      },
      {
        value: "Law",
        text: "Law"
      },
      {
        value: "Mandarin",
        text: "Mandarin"
      },
      {
        value: "Mathematics",
        text: "Mathematics"
      },
      {
        value: "Media studies",
        text: "Media studies"
      },
      {
        value: "Music",
        text: "Music"
      },
      {
        value: "Philosophy",
        text: "Philosophy"
      },
      {
        value: "Physical education",
        text: "Physical education"
      },
      {
        value: "Physics",
        text: "Physics"
      },
      {
        value: "Politics",
        text: "Politics"
      },
      {
        value: "Psychology",
        text: "Psychology"
      },
      {
        value: "Religious education",
        text: "Religious education"
      },
      {
        value: "Relationships and sex education",
        text: "Relationships and sex education"
      },
      {
        value: "Science",
        text: "Science"
      },
      {
        value: "Social sciences",
        text: "Social sciences"
      },
      {
        value: "Sociology",
        text: "Sociology"
      },
      {
        value: "Spanish",
        text: "Spanish"
      },
      {
        value: "Statistics",
        text: "Statistics"
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[statuses]",
    name: "filters[statuses]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: 'Received',
      text: 'Received'
    }, {
      value: 'Approved',
      text: 'Approved'
    }, {
      value: 'Rejected',
      text: 'Rejected'
    }],
    values: data.filters.statuses
  }) }}

  {{ govukCheckboxes({
    idPrefix: "filters[numberOfBalls]",
    name: "filters[numberOfBalls]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Number of balls",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: '1 or 2',
      text: '1 or 2'
    }, {
      value: '3 or more',
      text: '3 or more'
    }],
    values: data.filters.numberOfBalls
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/applications/clear-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/applications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
