{% if data.user %}
  {% set serviceUrl = '/applications' %}
{% else %}
  {% set serviceUrl = '/account/sign-in' %}
{% endif %}

{{ govukHeader({
  productName: serviceName,
  serviceUrl: serviceUrl,
  navigationClasses: "govuk-header__navigation--end",
  navigation: [{
    href: '/account/sign-out',
    text: 'Sign out'
  }] if data.user
}) }}