{{ govukPagination({
  classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-2",
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#",
      current: true
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

<p class="govuk-!-margin-bottom-0">Showing 1 to 50 of 274 results</p>