
.app-list {

  .app-list__item {
    border-bottom: 1px solid $govuk-border-colour;
    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
    position: relative;
  }

  h2 {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-tag {
    position: absolute;
    top: govuk-spacing(4);
    right: 0;
  }

  .govuk-summary-list {
    margin-bottom: 0;
    @include govuk-font(16);
  }

  .govuk-summary-list__key,
  .govuk-summary-list__value {
    padding-bottom: 0;
  }

}