{% extends "layouts/main.html" %}

{% set pageName = "Activity" %}
{% set primaryNavId = 'activity' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <div class="app-list">
        {% for item in events %}
          <div class="app-list__item">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
              {{item.event.name}}
              ({{item.application.personalDetails.firstName}} {{item.application.personalDetails.lastName}})
            </h2>
            <p class="govuk-!-margin-bottom-1">By {{item.event.user}} on {{item.event.date | govukDate}} at {{item.event.date | govukTime}}</p>
            <p class="govuk-!-margin-bottom-0"><a href="/applications/{{item.application.id}}">View application</a></p>
          </div>
        {% endfor %}
      </div>

      {% include "_includes/pagination.njk" %}


    </div>
  </div>

{% endblock %}
